<div class="add-room-container">
  <h2>Add Hotel</h2>
  <p class="description">Fill in the details carefully and accurate room details, pricing, and amenities to enhance the user booking experience.</p>
  <div class="images-row">
    <label class="upload-box" *ngFor="let i of [0, 1, 2, 3]">
      <input type="file" (change)="onImageSelected($event, i)" hidden />
      <img *ngIf="previewImages[i]" [src]="previewImages[i]" alt="Preview" />
      <span *ngIf="!previewImages[i]">Upload</span>
    </label>
  </div>
  <input type="text" [(ngModel)]="formData.hotelName" placeholder="Hotel Name" />
  <input type="text" [(ngModel)]="formData.streetAddress" placeholder="Street Address" />
  <div class="form-row">
    <select [(ngModel)]="formData.roomType">
      <option value="" disabled>Select Room Type</option>
      <option value="Single Bed">Single Bed</option>
      <option value="Double Bed">Double Bed</option>
      <option value="Suite">Suite</option>
    </select>
    <input type="number" [(ngModel)]="formData.pricePerNight" placeholder="Price /night" />
  </div>
  <div class="amenities">
    <label *ngFor="let amenity of allAmenities">
      <input type="checkbox" [value]="amenity" (change)="toggleAmenity($event)" />
      {{ amenity }}
    </label>
  </div>
  <button (click)="addHotels()">Add Room</button>
</div>
